<% content_for :body_content_left do %>
  <div id="events">
		<%= render :partial => 'event', :collection => @event_category.events, :locals => { :category => true } %>
	</div>
<% end %>

<%= render :partial => "/shared/content_page" %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-events') %>
