<% content_for :body_content_title do -%>
  <%= "#{@event_category.name} Category" %>
<% end -%>

<% content_for :body_content_left do %>
  <div id="events">
		<%= render :partial => 'events/event', :collection => @event_category.events, :locals => { :category => true } %>
	</div><!-- #events -->
<% end %>

<%= render 'events/sidebar' %>

<%= render :partial => "/shared/content_page" %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-events') %>
