
<% content_for :body_content_title do %>
  <%= @category.name %>
<% end %>

<% content_for :body_content_left do %>
  <h4><%= t('.details', default: @category.name ) %></h4>

  <% if @category.events.any?%>
    <ul class="events-list">
      <% @category.events.each do |event|%>
        <li><%= render event %></li>
      <% end %>
    </ul>
  <% end %>

<% end %>

<% content_for :body_content_right do %>
  <% render 'categories_list' %>
<% end %>

<% content_for :stylesheets, stylesheet_link_tag('categories') %>

<%= render '/refinery/content_page' %>
