
<% content_for :body_content_title do %>
  <%= @category.name %>
<% end %>

<% content_for :body_content_left do %>
  <h4><%= t('.details', default: 'Events listed under this category') %></h4>

  <% if @category.events.any?%>
    <% @category.events.each do |event|%>
      <li><%= link_to event.title, refinery.calendar_event_path(event) %></li>
    <% end %>
  <% end %>

<% end %>

<% content_for :stylesheets, stylesheet_link_tag('categories') %>

<%= render '/refinery/content_page' %>
