  <li>
    <%= link_to t('.manage_events'), refinery.calendar_admin_events_path,
                 :class => "manage_icon" %>
  </li>
  <li>
    <%= link_to t('.manage_venues'), refinery.calendar_admin_venues_path,
                 :class => "manage_icon" %>
  </li>
  <li>
    <%= link_to t('.manage_categories'), refinery.calendar_admin_categories_path,
                 :class => "manage_icon" %>
  </li>
