.individual_event {
	padding: 15px;
	margin: 0 0 10px;
	background-color: #f4f4f4;
}
.individual_event h1 {
	margin: 0 0 10px;
	padding: 0;
}
.individual_event .event_image {
	float: left;
	margin: 0 15px 10px 0;
}
#featured_events h2 {
	margin: 15px 0 10px;
}

.sidebar_module {
	padding: 15px;
}
.sidebar_module h2 {
	margin: 0 0 10px;
}
.categories a {
	display: block;
	margin: 5px 0;
}
.sidebar_module ul {
	list-style: square;
	padding: 0 0 0 26px;
	margin: 0;
}
.sidebar_module ul li {
	margin: 2px 0;
	padding: 2px 0;
}

#share_this_event {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
	margin: 20px 0;
}
#share_this_event ul {
	list-style: none;
	border: 0;
	padding: 0;
	margin: 0;
}
#share_this_event ul li {
	float: left;
	height: 70px;
	margin: 0 15px 0 0;
}

#prevnext_nav {
	clear: both;
	display: block;
	height: 100px;
}
#prevnext_nav .prev {
	width: 33%;
	float: left;
}
#prevnext_nav .home {
	width: 33%;
	float: left;
}
#prevnext_nav .next {
	width: 33%;
	float: left;
}
#event_map {
  width: 400px;
  height: 200px;
}