<% content_for :body_content_right do %>
	<% unless controller.action_name == "index" or controller.action_name == "archive" -%>
	  <aside>
	    <h2><%= t('.other') %></h2>
	    <ul id="events">
	      <% @other_events.each do |event| %>
	        <li>
	          <%= link_to event.title, event_url(event) %>
	        </li>
	      <% end %>
	    </ul>
	  </aside>
	<% end -%>

	<% @event_categories.each do |category| -%>
		<%= link_to category.name, category_events_path(category) %>
	<% end -%>
	
	<%= events_archive_list %>
	
	
<% end %>