<% content_for :body_content_title do %>
  <%= @event.title %>
<% end %>

<% content_for :body_content_left do %>
  <div id="event">
		<%= render :partial => 'event', :locals => { :event => @event, :individual => true } %>
	</div>	
<% end %>

<%= render 'events/sidebar' %>

<%= render :partial => "/shared/content_page" %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-events') %>
