<% if searching? %>
  <h2><%= t('refinery.admin.search.results_for', :query => params[:search]) %></h2>
<% end %>

<div class="pagination_container">
  <% if @events.any? %>
    <%= render 'events' %>
  <% else %>
    <p>
      <% unless searching? %>
        <strong>
          <%= t('.no_items_yet') %>
        </strong>
      <% else %>
        <%= t('refinery.admin.search.no_results') %>
      <% end %>
    </p>
  <% end %>
</div>
