<% content_for :body_content_left do %>
  <section id="events">
    <%= render @events %>
  </section>
  <section id="calendar">
    <% date = Date.today %>
    <%= calendar(:year => date.year,
             :month => date.month,
             :table_id  => 'tcalendar') %>
  </section>
<% end %>

<% content_for :stylesheets, stylesheet_link_tag('events') %>

<%= render '/refinery/content_page' %>
