<% content_for :body do %>
  <section id="events">
    <%= render @events %>
  </section>
<% end %>

<% content_for :stylesheets, stylesheet_link_tag('events') %>

<%= render '/refinery/content_page' %>
